:root{
  --main-color: #3e69eb;
}

body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100dvh;
  overscroll-behavior: none;
  
  height: 100%;
  width:100%;
}

nav {
  display: flex;
  text-align: right;
  align-items: right;
  justify-content: right;
  margin: 10px 10px;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}

main{
  display: flex;
  margin-top: 20dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}

.vividly_logo{
  color: var(--main-color);
  font-size: 5rem;
}

#sign-up{
  border: 1px solid;
  border-radius: 20px;
  padding:7px 20px 7px 20px;
  color: white;
  background-color: var(--main-color);
}