body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #121212;
	color: #ffffff;
  overflow-x: hidden;
	overscroll-behavior-x:none;
	/* overscroll-behavior-y: none; */
	/* overflow-y: hidden; */
}

/* Navigation Bar*/
nav {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding: 0 20px;
	box-shadow: 0 5px 10px rgba(31, 27, 27, 0.3);
	background-color: #141414;
}
#vividly-logo {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	color:white;
}
#vividly-logo a{
	text-decoration: none;
	color: white;
}
.nav-center {
	display: flex;
	align-items: center;
	gap: 15px; /* Adds spacing between links */
}
.nav-a {
	text-decoration: none;
	color: white;  margin: 0 10px;
	font-weight: 500;
	transition: color 0.3s;
}
.nav-a:hover {
	color: #00000076; 
}
#nav-rule{
	margin: 0;
	opacity: 10%;  
}
/* Profile Picture */
nav a img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit:fill;
	margin-right: 30px;
}


/* Categories Section */
.categories-section{
  height: auto;
  /* background-color: rgb(203, 226, 246); */
}
#categories{
  padding-left: 1rem;
  color: white;
}
.images{
  margin:5px;
  display: inline-block;
  flex-direction: row;
  background-color: rgb(143, 179, 185);
  border-radius: 20px;
  height:320px;
  width:180px;
}
.category-name{
  padding-left:25px;
  font-size: 1rem;
  color: white;}
/* Hide scroll bar but keep scroll feature*/
.boards-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
  margin-left:5%;
  margin-right:5%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  background-color: rgb(244, 215, 177);
}
.boards-container::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}

#division{
  margin: 0;
	opacity: 10%;
  margin-left:2px;
  margin-right:2px;
}


/* Personal Info */
/* .profile-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .container {
    height:30%;
    flex-direction: column;
    gap: 20px;
  }
  .container .card {
    width:80%;
    margin-left: 2%;
  }
  .other_stats{
    display: block;
    flex-direction: column;
    gap: 20px;
  }
  .data_table{
    width:100%;
  }
} */